:root {
  --background: #e2fafc;
  --primer: #111111;
  --weights: 300;
}

.darkmode {
  --background: #111111;
  --primer: #e2fafc;
  --weights: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inria Sans", sans-serif;
  background-color: var(--background);
  color: var(--primer);
}

/* Navbar  */
.navbar {
  width: 100%;
  height: 4.2rem;
  background-color: var(--background);
  border-bottom: 0.1rem solid var(--primer);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 9999;
}

.navbar .logo {
  color: var(--primer);
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 3rem;
}

.menus {
  font-weight: 600;
  font-size: 1.1rem;
  margin-right: 3rem;
}

.menus a {
  color: var(--primer);
  display: inline-block;
  margin-right: 2rem;
}

.menus #icon {
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
  margin-left: 0.6rem;
}

.anothermenu {
  display: none;
  margin-right: 3rem;
}

#hamburger-menu {
  color: var(--primer);
}

/* hero */
.profile {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 12rem;
}

.profile .myimage {
  height: 10rem;
  width: 10rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.myimage img {
  height: 10rem;
  width: 10rem;
  border-radius: 6rem;
}
.profile h1 {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
}

.profile h2 {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}

.profile .follow {
  display: flex;
  justify-content: center;
}

.follow .thelink {
  margin: 1.4rem 0.6rem 0;
}

.follow a {
  color: var(--primer);
}

.theresume {
  text-align: center;
  margin: 0.8rem;
}

.theresume .resume {
  display: inline-block;
  background-color: var(--primer);
  width: 10rem;
  height: 2.6rem;
  padding: 0.6rem 0;
  color: var(--background);
  text-align: center;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: var(--weights);
}

/* About  */
.aboutme {
  margin: 12rem 0;
  padding: 2rem 8%;
}

.aboutme h2 {
  font-weight: 600;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.aboutme p {
  font-weight: 400;
  font-size: 1.4rem;
  text-align: justify;
  padding: 0 8rem;
}

/* Project  */
.projects {
  height: 34rem;
  margin-bottom: 8rem;
  padding: 0 7% 1.4rem;
  text-align: center;
}

.projects h2 {
  font-weight: 600;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.row {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.project {
  width: 30rem;
  height: 36rem;
  margin: 1.6rem 1.6rem 0;
  background-color: var(--primer);
  border-radius: 1rem;
}

.project h3 {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: var(--background);
}

.project img {
  width: 25rem;
  height: 12.8rem;
  margin: 1.6rem 0 0.9rem;
  border: 0.1rem solid var(--background);
}
.project p {
  text-align: justify;
  padding: 0.8rem 1.6rem;
  color: var(--background);
  font-weight: var(--weights);
}

.linkproject {
  margin-top: 1rem;
}

.linkproject a {
  color: var(--background);
  margin: 0 0.6rem;
}

@media (max-width: 768px) {
  html {
    font-size: 70%;
  }

  .profile {
    min-height: 54vh;
    padding-top: 8rem;
  }

  .anothermenu {
    display: inline-block;
  }

  .navbar .menus {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primer);
    width: 14rem;
    height: 100vh;
    transition: 0.3s;
    margin: 0;
  }

  .navbar .menus.active {
    right: 0;
  }

  .navbar .menus a {
    color: var(--background);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .menus #icon {
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .theresume .resume {
    margin-top: 0.5rem;
    padding: 0.4rem 0;
  }

  .project {
    margin-bottom: 1.6rem;
  }

  .row {
    padding-bottom: 6rem;
  }

  .aboutme {
    margin: 20% 0;
    padding: 0 3%;
  }

  .aboutme h2 {
    padding-top: 1rem;
  }

  .aboutme p {
    font-weight: 400;
    font-size: 1.4rem;
    text-align: justify;
    padding: 0 8rem 8rem;
  }
}

/* smartphone */
@media (max-width: 450px) {
  html {
    font-size: 56%;
  }
}
