:root {
  --background: #e2fafc;
  --primer: #111111;
  --weights: 300;
}

.darkmode {
  --background: #111111;
  --primer: #e2fafc;
  --weights: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inria Sans", sans-serif;
  background-color: var(--background);
  color: var(--primer);
}

/* Navbar  */
.navbar {
  width: 100%;
  height: 4.2rem;
  background-color: var(--background);
  border-bottom: 0.1rem solid var(--primer);
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 9999;
}

.navbar .logo {
  color: var(--primer);
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 3rem;
}

.menus {
  margin: 0 2rem 0 48rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.menus a {
  color: var(--primer);
  display: inline-block;
  margin-right: 2rem;
}

.menus #icon {
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
  margin-left: 0.6rem;
}

/* hero */
.profile {
  min-height: 90vh;
  position: relative;
  padding-top: 22rem;
}

.profile .myimage {
  height: 8rem;
  width: 8rem;
  border-radius: 1rem;
  position: absolute;
  top: 34%;
  right: 46%;
}

.myimage img {
  height: 10rem;
  width: 10rem;
  border-radius: 2rem;
}
.profile h1 {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
}

.profile h2 {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}

.profile .follow {
  display: flex;
  justify-content: center;
}

.follow .thelink {
  margin: 1rem 0.6rem 0;
}

.follow a {
  color: var(--primer);
}

/* About  */
.aboutme {
  margin: 2rem 0;
  padding: 1rem 12%;
  height: 32rem;
}

.aboutme h2 {
  font-weight: 600;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 6rem;
}

.aboutme p {
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
  font-style: left;
  padding: 0 8rem 8rem;
}

/* Project  */
.projects {
  height: 34rem;
  margin-bottom: 8rem;
  padding: 0 7% 1.4rem;
  text-align: center;
  margin-top: 2rem;
}

.projects h2 {
  font-weight: 600;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.row {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.project {
  width: 30rem;
  height: 36rem;
  margin: 0 1.6rem;
  background-color: var(--primer);
  border-radius: 1rem;
}

.project h3 {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: var(--background);
}

.project img {
  width: 25rem;
  height: 12.8rem;
  margin: 1.6rem 0 0.9rem;
  border: 0.1rem solid var(--background);
}
.project p {
  text-align: justify;
  padding: 0.8rem 1.6rem;
  color: var(--background);
  font-weight: var(--weights);
}

.linkproject {
  margin-top: 1rem;
}

.linkproject a {
  color: var(--background);
  margin: 0 0.6rem;
}
